<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="测试套件">
    <test name="测试">
        <classes>
            <class name="com.lemon01.testcase.LoginTest"></class>
            <class name="com.lemon01.testcase.ProductSearchTest"></class>
            <class name="com.lemon01.testcase.ShopcartTest"></class>
        </classes>
    </test>
</suite>